---

interface Props {
  items: { id: string; text: string; depth?: number; tag?: string }[]
}

const { items } = Astro.props
---
<nav class="mb-10 p-5 border border-neutral-800 bg-neutral-900" aria-label="Table of Contents">
  <p class="text-xs font-heading uppercase tracking-widest text-neutral-500 mb-4">
    On This Page
  </p>
  <ul class="space-y-2 text-sm">
    {items.map((item) => {
      const indent =
        (item.depth === 3 || item.tag === 'h3') ? 'ml-4' :
        (item.depth === 4 || item.tag === 'h4') ? 'ml-8' : ''
      return (
        <li class={`${indent} list-disc list-inside text-neutral-400`}>
          <a href={`#${item.id}`} class=" hover:text-lime-400 transition-colors no-underline hover:underline text-xs font-heading">
            {item.text}
          </a>
        </li>
      )
    })}
  </ul>
</nav>